<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Flask Pokedex</h1>
        <div class="poke-container">
            {% for id in range(0, 151) %}
                <div class="pokemon" id="card">
                    <div class="img-container">
                        <img src="https://pokeres.bastionbot.org/images/pokemon/{{id+1}}.png">
                    </div>
                    <div class="info">
                        <span class="number">#{{ id+1 }}</span>
                        <h3 class="name">{{ pokemon['pokemon_entries'][id]['pokemon_species']['name'].capitalize() }}</h3>
                    </div>
                </div>
            {% endfor %}
        </div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>